$navbar-default-bg: white;


@import "bootstrap-sprockets";
@import "bootstrap";

.jumbotron {
  background-image: asset-url('abs.png');
  background-size: cover;
  height: 400px;
  text-align: center;
}

.jumbotron > .btn {
  padding-bottom: 2px;
  padding-right: 5px;
}

.jumbotron h1 {
  color: #fff;
}

.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.description {
  margin-top: 0;
}

.article-title {
  font-weight: bold;
  font-size: 1.5em;
}

.article-body {
  border-top: 1px solid #eaeaea;
  margin-top: 15px;
  margin-bottom: 15px;
}

.footer {
    border-top: 0.5px solid grey;
    background-color: #fff;
    color: light-grey;
    padding:10px 0;
    margin-top: 30px;
}