/* general styles */
body {
    font-family: Arial, San-Serif;
    font-size: 100%;
}
.container {
    margin: 0 auto;
    width: 960px;
}
ul {
    margin: 0;
    padding: 0;
}
ul li {
    list-style-type: none;
}
a {
    text-decoration: none;
}
p {
    font-size: 13px;
    line-height: 1.3em;
}


/* login style */
.login {
    padding: 15px 0;
    float: right;
}
.login input[type="text"],
.login input[type="password"] {
    padding: 5px;
    margin-right: 5px;
    border: 1px solid transparent;
    border-radius: 5px;
    outline: none;
}
.login input[type="submit"] {
    padding: 5px 15px;
    border: 1px solid lightgrey;
    border-radius: 5px;
}
.login input[type="submit"]:hover {
    color:yellowgreen;
    background-color: black;
    border: 1px solid transparent;
}

/* main content */
.articles_array {
    overflow: auto;
}
.container_title {
    padding-bottom: 5px;
    border-bottom: 1px solid #777;
    font-size: 36px;
}
.container_title small {
    color: #777;
    font-size: 70%;
}
.article_outer {
    display: inline-block;
    float: left;
    padding-right: 5px;
    padding-left: 5px;
    width: 50%;
    box-sizing: border-box;
}
.articles_array>div:first-child {
    padding-left: 0;
    padding-right: 5px;
}
.articles_array>div:last-child {
    padding-left: 5;
    padding-right: 0px;
}
.article {
    border: 1px solid #959595;
    display: inline-block;
}
.article img {
    width: 100px;
    height: 100px;
}

.article h3 {
    color: grey;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


/* footer */
.footer {
    border-top: 0.5px solid grey;
    background-color: #fff;
    color: light-grey;
    padding:10px 0;
    margin-top: 30px;
}